
<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">

<h1>Cập nhật bài viết</h1>
<title>Tạo bài viết</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<form action="/blogposts/update/<%= post._id %>" method="POST">
    <input type="text" name="title" value="<%= post.title %>">
    <textarea name="body"><%= post.body %></textarea>
    <button type="submit">Cập nhật</button>
</form>
</body>
</html>