<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>Trang Chủ - NodeJS Hub</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <a href="/">Trang chủ</a>
        <a href="/events">Sự kiện (Events)</a>
        <a href="/request">Request & Headers</a>
        <a href="/streams">Dòng dữ liệu (Streams)</a>
    </nav>
    
    <header>
        <h1>BÀI THỰC HÀNH SỐ 6 - NODEJS</h1>
        <h2>Chào mừng đến với hệ thống</h2>
    </header>
        <!-- <h3>Các Endpoints API Test Nhanh:</h3>
        <ul>
            <li><a href="/json" target="_blank">/json</a> : Trả về dữ liệu JSON</li>
            <li><a href="/image" target="_blank">/image</a> : Streaming hình ảnh logo.jpg</li>
            <li><a href="/download-log">/download-log</a> : Tải file log.txt bằng Readable Stream</li>
 
</body>

</html>